<div class="controll-panel">
    <div class="center">
        <span class="prev-btn controll-btn">
            <i class="fas fa-step-backward"></i>
        </span>
    </div>
    <div class="center">
        <span class="play-btn controll-btn">
            <i class="fa-solid fa-play"></i>
        </span>
        <span class="pause-btn controll-btn hidden">
            <i class="fa-solid fa-pause"></i>
        </span>
    </div>
    <div class="center">
        <span class="next-btn controll-btn">
            <i class="fas fa-step-forward"></i>
        </span>
    </div>
</div>
<div class="progress-panel">
    <div id="start-time">00:00</div>
    <progress id="progress-bar" value="0" max="100"></progress>
    <div id="end-time">00:00</div>
</div>
